.exp-content{
        display:flex;
        flex-direction: row;
        padding-top: 2rem;
        gap: 1rem;
}

.main-content-section{
    padding-top: 6rem !important;
}

.exp-btn{
    background-color: transparent;
    color: var(--gray);
    border:none;
    outline:none;
    padding:1.5rem;
    width: 35vw;
    text-align: left;
    cursor: pointer;
    font-family: var(--font-body);
    font-weight: 600;
    border-radius: 10px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.exp-details{
    display: flex;
    flex-direction: row;
}

.exp-detail p::selection{
    background-color: var(--orange);
    color: var(--white);
  }

.section-h-exp{
    font-size: 1.3rem;
}

.exp-detail p::before{
    content: "▹";
    color: var(--orange);
    font-weight: bold; 
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.exp-details-wrapper{
width: 100%;
padding: 0 2rem;
font-size: 1rem;
}

.detail-company{
    color: var(--orange);
}

.show-details{
display: block;
}

.hide-details{
  display: none;
  height: 0px;
}

.exp-btn:hover{
    background-color: var(--lightNavy);
    color: var(--white);
}

@keyframes experience{
    0%{
        top:0px;
    }
    100%{
        top:-3px;
    }
}

.active {
    background-color: var(--lightorange);
    border-left: 2px solid var(--orange);
    color: var(--orange);
    animation: experience 2s ease-in-out;
    -webkit-animation: experience 2s ease-in-out;
    
  }
  .deactive {
    background-color: transparent;
    border-left: 2px solid var(--border);

  }

@media only screen and (min-width: 500px){
    .exp-btn{
        width: 27vw;
    }
}

@media only screen and (min-width: 768px){
    #experiences{
        padding: 4rem 0 0 0;
    }
}

@media only screen and (min-width: 1024px){

    .main-content-section{
        padding-top: 8rem !important;
    }
}
@media only screen and (min-width: 1200px){
    .exp-btn{
        width: 17vw;
    }
}
